  <div class="main-container primary-bg">
    <div class="form-holder form-text-white">
      <h1 class="form-h1-title">Edit <%= @space.name %></h1>
      <%= simple_form_for(@space) do |f| %>
        <%= f.input :name %>
        <%= f.input :address %>
        <%= f.input :price %>
        <%= f.input :capacity %>
        <%= f.input :description %>
        <%= f.fields_for :pictures_attributes do |p| %>
          <%= p.label :photo %><br>
          <%= p.file_field :photo, :multiple => true, name: "pictures[photo][]"%>
        <% end %>
          <%= f.button :submit, class: "button button-green", style: "margin-top: 20px" %>
      <% end %>
    </div>

  <div class="box-around-pictures">
    <div class= "inline-pictures">
      <% @pictures.each do |p| %>
        <div class = "border-picture col-xs-3">
          <%= cl_image_tag p.photo, height: 100, width: 133, crop: :fill %>
          <% if @pictures.count > 1 %>
          <div class = "delete-picture-link">
            <%= link_to "", picture_path(p), method: :delete, class: "fas fa-times" %>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

