<h1>This works</h1>

<%= simple_form_for(@space) do |f| %>
<%= f.input :name %>
<%= f.input :address %>
<%= f.input :price %>
<%= f.input :capacity %>
<%= f.button :submit %>
<% end %>


<% @pictures.each do |p| %>

  <%= cl_image_tag p.photo, height: 100, width: 133, crop: :fill %>
  <%= link_to "Delete foto", edit_picture_path(p)%>
<% end %>


