<h1>Let's add a new space! </h1>

<p><%= current_user.name %></p>

<%= simple_form_for(@space) do |f| %>
<%= f.input :name %>
<%= f.input :address, input_html: { id: 'space_address' }%>
<%= f.input :price %>
<%= f.input :capacity %>
<%= f.input :description %>
<%= f.fields_for :pictures_attributes do |p| %>
  <%= p.label :photo %><br>
  <%= p.file_field :photo, :multiple => true, name: "pictures[photo][]"%>
   <% end %>
<%= f.button :submit, class: "button button-green" %>

<% end %>
