<!-- the following code should alsways be on top -->
<% if !current_user %>
  <div class="link-wrapper-out">
    <%= link_to "Go back", spaces_path, class: "button button-primary"  %>
  </div>
  <% else %>
  <div class="link-wrapper-in">
    <%= link_to "Go back", spaces_path, class: "button button-primary"  %>
    <%= link_to "Edit space", space_edit_path, class: "button button-green" %>
  </div>
<% end %>
<% array_of_photos = [] %>
<% @space.pictures.each do |picture| %>
  <% array_of_photos << (cl_image_tag picture.photo, height: 300, width: 400, crop: :fill)%>

<% end %>
<div class="show-container">
  <div class="row">
    <div class="space-information">
      <h3><%= @space.name.capitalize %></h3>

      <div class = "photo-container">
        <%= render "shared/photo", array_of_photos: array_of_photos %>
      </div>
      <h3>Space information:</h3>
      <p><strong>Name: </strong><%= @space.name %></p>
      <p><strong>Address: </strong><%= @space.address %></p>
      <p><strong>Capacity: </strong><%= @space.capacity %> m³</p>
      <p><strong>Price: </strong>€ <%= @space.price %> (per month)</p>
      <div class="link-wrapper-in">
        <%= link_to "Owner Profile", user_path(@space.user), class: "button button-green" %>
      </div>
    </div>
    <div class="space-information">
      <%= simple_form_for @booking do |b| %>
        <%= b.hidden_field :space_id, :value => @space.id %>
        <%= b.input :start_date %>
        <%= b.input :end_date %>
        <%= b.input :message %>
        <%= b.button :submit, class: "button button-green" %>
      <% end %>
    </div>
  </div>
</div>

<!-- link_to @user.name, user_path(@user) -->
