<div class="container">
  <div class="row">
    <div class="space-information col-sm-offset-3 col-sm-4">
      <h1><%= @space.name %></h1>
      <%= image_tag("franks_basement.jpg") %>
      <h3>Space information:</h3>
      <p>Name: <%= @space.name %></p>
      <p>Address: <%= @space.address %></p>
      <p>Capacity: <%= @space.capacity %></p>
      <p>Price: <%= @space.price %></p>
    </div>
  </div>
</div>

<%= simple_form_for @booking do |b| %>
  <%= b.hidden_field :space_id, :value => @space.id %>
  <%= b.input :start_date %>
  <%= b.input :end_date %>
  <%= b.input :message %>
  <%= b.button :submit %>
<% end %>

<%= link_to "Go back", spaces_path, class: "btn btn-primary"  %>
<%= link_to "Dashboard", dashboard_path  %>
