<div class="dashboard-container">

  <div class="dashboard-grid-image">
    <% if @user.avatar.present? %>
    <%= (cl_image_tag @user.avatar, width: 200, height: 200, crop: :thumb, radius: :max) %>
    <% else %>
    <%= image_tag "dumb_avatar.png", class: "avatar"%>
    <% end %>

  </div>

  <div class="dashboard-grid-info">
    <h3 class="dashboard-info-title"><%= link_to @user.name, user_path(@user) %></h3>
    <p class="dashboard-info-text">phone number: <%= @user.phone_number %></p>
    <p class="dashboard-info-text">email: <%= @user.email %></p>
    <%= link_to "Edit", user_edit_path(@user), class: "button button-green dashboard-info-edit" %>
  </div>

  <div class="dashboard-grid-stats first-stat">
    <div>
      <p>spaces</p>
      <p><%= @user.spaces.count %></p>
    </div>
  </div>

  <div class="dashboard-grid-stats second-stat">
    <div>
      <p>bookings</p>
      <%= @user.bookings.count %>
    </div>
  </div>

  <div class="dashboard-grid-stats third-stat">
    <div>
      <p>messages</p>
      <p>34</p>
    </div>
  </div>

  <div class="dashboard-grid-stats fourth-stat">
    <div>
      <p>ratings</p>
      <p>3</p>
    </div>
  </div>

  <div class="dashboard-grid-spaces">
    <div class="dashboard-list-header">
      <h3>Spaces</h3>
      <div class="dashboard-list-item-spacer"></div>
      <p class="dashboard-list-text"><%= link_to "", spaces_new_path, class: "fas fa-plus" %></p>
    </div>
    <div class="dashboard-list">
      <% @user.spaces.each do |space| %>
        <div class="dashboard-list-item">
          <p class="dashboard-list-text"><%= link_to space.name, space_path(space) %></p>
          <div class="dashboard-list-item-spacer"></div>
          <p class="dashboard-list-text"><%= link_to "", space_edit_path(space), class: "far fa-edit" %></p>
        </div>
      <% end %>
    </div>
  </div>

  <div class="dashboard-grid-bookings">
    <div class="dashboard-list-header">
      <h3>Bookings</h3>
    </div>
    <div class="dashboard-list">
      <% @user.bookings.each do |booking| %>
        <div class="dashboard-list-item">
          <p class="dashboard-list-text"><%= booking.rent %></p>
          <div class="dashboard-list-item-spacer"></div>
        </div>
      <% end %>
    </div>
  </div>
</div>

