<h3><%= @user.name %></h3>

<% @user.spaces.each do |space| %>
<p><%= space.name %> <span> <%= link_to "edit space", space_edit_path(space)  %></span></p>
<% end %>


<%= link_to "sign out", destroy_user_session_path, method: :delete  %>


<%= link_to "Add new space", spaces_new_path  %>
