<div class="dashboard-container">

  <div class="dashboard-grid-image">
    <% if @user.avatar.present? %>
    <%= (cl_image_tag @user.avatar, width: 200, height: 200, crop: :thumb) %>
    <% else %>
    <%= image_tag "dumb_avatar.png", class: "avatar"%>
    <% end %>

  </div>

  <div class="dashboard-grid-info">
    <h1 class="dashboard-info-title"><%= link_to @user.name, user_path(@user) %></h1>
    <%= link_to "", user_edit_path(@user), class: "fas fa-user-edit dashboard-info-edit edit-icon" %>
    <p class="dashboard-info-text">phone number: <%= @user.phone_number %></p>
    <p class="dashboard-info-text">email: <%= @user.email %></p>
  </div>

  <div class="dashboard-grid-spaces">
    <div class="dashboard-list-header">
      <h3>Spaces</h3>
      <%= link_to "", spaces_new_path, class: "fas fa-plus dashboard-list-text dashboard-add" %>
    </div>
    <div class="dashboard-list">
      <% @user.spaces.each do |space| %>
        <div class="dashboard-list-item" data-space-id="<%= space.id %>">
          <%= link_to space.name, space_path(space), class: "dashboard-list-text dashboard-link" %>
          <div>
            <%= link_to "", space_edit_path(space), class: "fas fa-pencil-alt dashboard-edit" %>
            <%= link_to "", delete_space_path(space), method: :delete, remote: true, class: "fas fa-times dashboard-delete"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="dashboard-grid-bookings">
    <div class="dashboard-list-header">
      <h3>Bookings</h3>
    </div>
    <div class="dashboard-list">
      <% @user.bookings.each do |booking| %>
        <div class="dashboard-list-item">
          <%= link_to booking.space.name, space_path(booking.space), class: "dashboard-list-text dashboard-link"%>
          <p class="dashboard-list-text"><%= booking.rent %> m²</p>
          <p class="dashboard-list-text">€<%= booking.space.price %>,-</p>
          <%= link_to "", booking_path(booking), method: :delete, class: "fas fa-times dashboard-delete" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

