<div class="main-container primary-bg">
  <div>
    <div class="form-holder form-text-white">
      <h1 class="form-h1-title">Edit profile</h1>
      <%= simple_form_for(@user) do |f| %>
        <%= f.input :name %>
        <%= f.input :email %>
        <%= f.input :phone_number %>
        <%= f.button :submit, class: "button button-green" %>
      <% end %>
    </div>
  </div>
</div>
