<div class="container">
  <div class="row" id="top_row">
    <div class="avatar">
      <% if @user.avatar.present? %>
      <%= (cl_image_tag @user.avatar, width: 200, height: 200, crop: :thumb, radius: :max) %>
      <% else %>
      <%= image_tag "dumb_avatar.png", class: "avatar"%>
      <% end %>
    </div>
    <div class="username">
      <div>
        <h2><%= @user.name.capitalize %></h2>
      </div>
      <div>
        <p>Rating: 4/5 </p>
      </div>
    </div>
  </div>
  <div class="row_about">
    <div>
      <h3>About</h3>
    </div>
    <div>
      <p><%= @user.about %></p>
    </div>
  </div>
  <div class="card_container">
    <h3>My Spaces</h3>
    <div class="row_card">
      <% @user.spaces.each do |space| %>
      <%
      picture = space.pictures.first
      if picture
        image_path = cl_image_path(picture.photo)
      else
        image_path = " "
      end
      %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url( <%= image_path %>);">
          <%= link_to space_path(space) do %>
          <h3><%= space.name %></h3>
          <p> <%= space.address %> </p>
          <%= link_to "",space_path(space), class: "card-link" %>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>

