 <div class="row_card">
    <% Space.order("RANDOM()").first(3).each do |space| %>
      <%
        picture = space.pictures.first
        if picture
          image_path = cl_image_path(picture.photo)
        else
          image_path = " "
        end
      %>

      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url( <%= image_path %>);">
          <h3><%= space.name %></h3>
          <p><%= space.address %></p>
          <div class="capacity-counter">
            <p><strong><%= space.capacity %></strong> spaces left</p>
          </div>
          <%= link_to "",space_path(space), class: "card-link" %>
        </div>
      </div>
    <% end %>
  </div>
