<div class="banner-main">
  <div class="banner-content">
    <h1>Space  Maker</h1>
    <h2>"Get your space on"</h2>
    <% if user_signed_in? %>
      <%= link_to "Spaces", dashboard_path, class: "button button-primary"  %>
    <% else %>
      <%= link_to "Register", new_user_registration_path, class: "button button-primary"  %>
    <% end %>
  </div>
</div>

<div class="card_container">
  <h3>Nearby spaces</h3>
<%= render "shared/card" %>
</div>

<div class="multi-column-container">
  <div class="two-column-content">
    <div>
      <h3>Why use space maker?</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vel lobortis velit. Integer dictum dui ut nunc tristique venenatis. Vivamus blandit, nisl a lacinia vehicula, urna risus interdum felis, ac aliquet purus ex at dui.</p>
      <% if user_signed_in? %>
        <%= link_to "Spaces", dashboard_path, class: "button button-primary"  %>
      <% else %>
        <%= link_to "Register", new_user_registration_path, class: "button button-primary"  %>
      <% end %>
    </div>
  </div>
  <div class="two-column-content">
    <p>image</p>
  </div>
</div>

<div class="multi-column-container">
  <div class="two-column-content">
    <p>image</p>
  </div>
  <div class="two-column-content">
    <div>
      <h3>Still not convinced?</h3>
      <h4>Here is why we're awesome</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vel lobortis velit.</p>
      <h4>Here is why our competitor is not.</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vel lobortis velit. Integer dictum dui ut nunc tristique venenatis.</p>
      <% if user_signed_in? %>
        <%= link_to "Spaces", dashboard_path, class: "button button-primary"  %>
      <% else %>
        <%= link_to "Register", new_user_registration_path, class: "button button-primary"  %>
      <% end %>
    </div>
  </div>
</div>

<div class="multi-column-container">
  <div class="two-column-content">
    <div>
      <h3>You look convinced..</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vel lobortis velit. Integer dictum dui ut nunc tristique venenatis. Vivamus blandit, nisl a lacinia vehicula, urna risus interdum felis, ac aliquet purus ex at dui. Vestibulum a orci lobortis, lobortis magna at, lacin
      </p>
      <% if user_signed_in? %>
        <%= link_to "Spaces", dashboard_path, class: "button button-primary"  %>
      <% else %>
        <%= link_to "Register", new_user_registration_path, class: "button button-primary"  %>
      <% end %>
    </div>
  </div>
  <div class="two-column-content">
    <p>image</p>
  </div>
</div>

<div class="main-container">
  <div class="one-column-content">
    <div class="centered-text">
      <h3>Just sign up!</h3>
      <p>lil bitch...</p>
      <% if user_signed_in? %>
        <%= link_to "Spaces", dashboard_path, class: "button button-primary"  %>
      <% else %>
        <%= link_to "Register", new_user_registration_path, class: "button button-primary"  %>
      <% end %>
    </div>
  </div>
</div>
