<div class="banner-main">
  <div class="banner-content">
    <h1>Space  Maker</h1>
    <h2>"Get your space on"</h2>
    <%= link_to "Register", new_user_registration_path, class: "button button-primary"  %>
  </div>
</div>

<div class="card_container">
  <h3>Nearby spaces</h3>
<%= render "shared/card" %>
</div>

<div class="multi-column-container">
  <div class="two-column-content">
    <div>
      <h3>Why use space maker?</h3>
      <p>Let’s face it, most of us can afford less and less space in the big cities we call home. But what are we supposed to do with all of our stuff? Space maker helps you find unutilized space near you! Save money and save space. </p>
      <%= link_to "Register", new_user_registration_path, class: "button button-primary"  %>
    </div>
  </div>
  <div class="two-column-content">
    <p>image</p>
  </div>
</div>

<div class="multi-column-container">
  <div class="two-column-content">
    <p>image</p>
  </div>
  <div class="two-column-content">
    <div>
      <h3>Still not convinced?</h3>
      <h4>Here is why we're awesome</h4>
      <p>Space maker saves people an average of 60% on storage costs relative to traditional storage units. While most storage units are located far away, your neighbor’s basement is just down the street. Oh, and wouldn’t you rather help out your neighbor than some random company? </p>
      <h4>Here is why our competitor is not.</h4>
      <p>Traditional storage units are usually located outside of the city limits making the task of getting something of yours rather challenging. Did we mention how much more expensive they are?</p>
      <%= link_to "Register", new_user_registration_path, class: "button button-primary"  %>
    </div>
  </div>
</div>

<div class="multi-column-container">
  <div class="two-column-content">
    <div>
      <h3>Want to make some money on the side?</h3>
      <p>If you happen to be one of the lucky ones with extra unutilized space on your hands, start generating income by storing your neighbor’s things! Who knew doing so little could pay so well.
      </p>
      <%= link_to "Register", new_user_registration_path, class: "button button-primary"  %>
    </div>
  </div>
  <div class="two-column-content">
    <p>image</p>
  </div>
</div>

<div class="main-container">
  <div class="one-column-content">
    <div class="centered-text">
      <h3>Just sign up!</h3>
      <%= link_to "Register", new_user_registration_path, class: "button button-primary"  %>
    </div>
  </div>
</div>
