<h1><%= @space.name %></h1>

<%= image_tag("picture.jpg") %>

<h3>Info:</h3>
<p>Name: <%= @space.name %></p>
<p>Address: <%= @space.address %></p>
<p>Capacity: <%= @space.capacity %></p>
<p>Price: <%= @space.price %></p>
